#emailInviteWrapper {
}

#emailEnter {
    float: left;
}

#emailStatusTable {
    float: right;
}

#inputOptions {
}

#parsedEmails {
    /*width: 100%;*/
    display: none;
    border: 1px solid #ccc;
    /*border: 1px solid black;*/
}

#parsedEmails tr:nth-child(even) {
    background-color: #f1f1f1;
}

#parsedEmails > thead > tr > td {
    font-weight: bold;
}

.button-sm {
    display: inline-block;
    background: #04B45F;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    letter-spacing: 0.20em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFF;
    text-align: center;
    vertical-align: middle; 
}

.button-sm:disabled {
    background: slategray;
}
