{% extends "layout.html" %}

{% block content %}
<div id="wrapper">
	<div id="featured-wrapper">
		<div class="extra2 container">
			<div class="ebox1">
                <div id="emailInviteWrapper">
                    <div id="emailEnter">
                        <textarea rows="20" cols="50" placeholder="Enter comma seperated email list here"></textarea>
                    </div>
                    <div id="parsedEmail">
                        <textarea readonly rows="20" cols="50" placeholder="parsed emails will appear here..."></textarea>
                    </div>
                </div>
			</div>		
		</div>	
	</div>
</div>
{% endblock %}