{% extends "layout.html" %}

{% block content %}
<div id="wrapper">
	<div id="featured-wrapper">
		<div class="extra2 container">
			<div class="ebox1">
				<div class="title">
					<h2>Login</h2>
					<span class="byline">Enter The Following Information</span></br>
					<span class="byline"><font color="red">{{error}}</font></span>
					<span class="byline"><font color="green">{{success}}</font></span>
				</div>
				<form action="/login" method="POST">
					<div class="form_settings">
						<p><span>Username:</span><input class="contact" type="text" name="username" value="" maxlength="50" required/></p>
						<p><span>Password:</span><input class="contact" type="password" name="password" value="" maxlength="50" required/></p>
					</div>
					<input class="button" type="submit" name="login" value="Login"/>
				</form>
			</div>		
		</div>	
	</div>
</div>
{% endblock %}