{% extends "layoutAdmin.html" %}

{% block content %}

<!--
The following javascript files where used in order to generate the graphics for the statistics.

Heatmap.js by Patrick Wied
	- Can be downloaded here: http://www.patrick-wied.at/static/heatmapjs/
	
Charts.js by Nick Downie
	- Can be downloaded here: http://www.chartjs.org/
-->

<script language = "JavaScript" type="text/javascript" src="{{ url_for('static', filename='css/Chart.js/Chart.min.js') }}"></script>
<script language="JavaScript" type="text/javascript">
	function barChart(results){
		var labelsUse = [];
		var valuesUse = [];

		for(var i = 0; i < results.length; i++){
			labelsUse.push(i + 1);
			valuesUse.push(results[i][1]);
		}
		// bar chart data
		var barData = {
			labels : labelsUse,
			datasets : [
				{
					fillColor : "#04B45F",
					strokeColor : "#3D3D3D",
					data : valuesUse
				}
				]
		};
		
		// get bar chart canvas
		var income = document.getElementById("bars").getContext("2d");
		
		// draw bar chart
		var newChart = new Chart(income).Bar(barData);
	}
</script>

<script language = "JavaScript" type="text/javascript" src="{{ url_for('static', filename='css/heatmap.js/build/heatmap.js') }}"></script>
<script language="JavaScript" type="text/javascript">
	function map(results){
		var datapoints = [];
		// minimal heatmap instance configuration
		for(var k = 0; k < results.length; k++){
			var point = {
			    x: results[k][0],
			    y: results[k][1],
			    value: 100,
			  };
			datapoints.push(point);
		}
		var heatmapInstance = h337.create({
		  // only container is required, the rest will be defaults
		  container: document.getElementById('maps')
		});
		
		// heatmap data format
		var data = { 
		  max: results.length * 25, 
		  data: datapoints 
		};
		// if you have a set of datapoints always use setData instead of addData
		// for data initialization
		heatmapInstance.setData(data);
	}
	
</script>

<div id="wrapper">
	<div id="featured-wrapper">
		<div class="extra2 container">
			<div class="ebox1">
			<div class="title">
				<h2>{{questionType}} Results</h2>
				<span class="byline"><font color="red">{{error}}</font></span>
			</div>
				{% if questionType == "Multiple Choice" %}
					<body onload="barChart({{results}})">
					<canvas id="bars" width="600px" height="400px">
						
					</canvas>
					</br>
					<hr style="width: 100%"/>
					</br>
					<div class="title">
						<h2>Question Info</h2>
					</div>
				{% endif %}
				
				{% if questionType == "Map" %}
					<body onload="map({{results}})">
					<div id="maps" style="width:600px; height:350px; margin: auto">
						{% if question[1] != "" %}
							{% set location = "../static/pictures/" + creator + "/" + question[1] + "" %}
							<img src="{{location}}" style="width:100%; height:100%; border: 3px solid #3D3D3D">
						{% endif %}
					</div>
					</br>
					<hr style="width: 100%"/>
					</br>
					<div class="title">
						<h2>Question Info</h2>
					</div>
				{% endif %}
				
				{% if question[1] != "" and questionType != "Map" %}
					{% set location = "../static/pictures/" + creator + "/" + question[1] + "" %}
					<img src="{{location}}" style="width:100%; height:100%; border: 3px solid #3D3D3D">
				{% endif %}
				
				<h1 align=left style="align:left">Question:</h1></br>
				<p align=left style="font-family: arial; font-weight: bold; color: #323232; margin-left:20px">{{question[0]}}</p>
				
				{% if choices %}
					<h1 align=left style="align:left">Choices:</h1></br>
					{% set counter = 1 %}
					{% for choice in choices %}
						<p align=left style="font-family: arial; font-weight: bold; color: #323232; margin:.1em; margin-left:20px">{{counter}}. {{choice[0]}}</p>
						{% set counter = counter + 1 %}
					{% endfor %}
				{% endif %}
				
				{% if response != "" %}
					<h1 align=left style="align:left">Your Response:</h1></br>
					<p align=left style="font-family: arial; font-weight: bold; color: #323232; margin-left:20px">{{response}}</p>
				{% endif %}
				
				{% if question[2] != "" %}
					</br><h1 align=left style="align:left">Answer:</h1></br>
					{% if answerMC != "" %}
						<p align=left style="font-family: arial; font-weight: bold; color: #323232; margin-left:20px">{{answerMC}}</p>
					{% else %}
						<p align=left style="font-family: arial; font-weight: bold; color: #323232; margin-left:20px">{{question[2]}}</p>
					{% endif %}
				{% endif %}
				
				{% if questionType == "Short Answer" %}
					{% for item in results %}
						<div style="width:280px; height:100px; overflow:auto; display: inline-block; border: 3px solid #3D3D3D; float:left; margin-left: 10px; margin-bottom: 10px">
							<p style="font-family: arial; font-weight: bold; color: #323232; margin-left:20px">{{item[0]}}</p>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
