{% extends "layoutAdmin.html" %}

{% block content %}
<div id="wrapper">
	<div id="featured-wrapper">
		<div class="extra2 container">
			<div class="ebox1">
			    <div class="title">
			        <h2>Email Invite</h2>  
			        <div id="inputOptions">
                        <input id="parseEmails" class="button-sm" type="button" name="parseEmails" value="Parse" />
                        <input id="clearEmails" class="button-sm" type="button" name="clearEmails" value="Clear" />
                        <input disabled id="sendEmails" class="button-sm" type="button" name="sendEmails" value="Send Emails" />
                    </div>
			    </div>
                <div id="emailInviteWrapper">
                    <div id="emailEnter">
                        <textarea id="emailList" rows="20" cols="50" placeholder="Enter comma seperated email list here"></textarea>
                    </div>
                    <div id="emailStatusTable">
                       <table id="parsedEmails">
                            <thead>
                                <tr>
                                    <td>Email</td>
                                    <td>Validity</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table> 
                    </div>
                    
                        <!--<textarea readonly id="parsedEmails" rows="20" cols="50" placeholder="parsed emails will appear here..."></textarea>-->
                    </div>
                </div>
			</div>		
		</div>	
	</div>
</div>
{% endblock %}