{% extends "layoutStudent.html" %}

{% block content %}

<div id="wrapper">
	<div id="featured-wrapper">
		<div class="extra2 container">
			<div class="ebox1">
			<div class="title">
				<h2>{{questionType}}</h2>
				<span class="byline"><font color="red">{{error}}</font></span>
			</div>
			<!-- If it is a map question we will have to make the image a canvas and record the mouse click. -->
				{% if questionType == "Map" %}
					{% set location = "../static/pictures/" + creator + "/" + question[1] + "" %}
					{% set pin = "../static/pin.png" %}
					<canvas id="canvas" width=600px height=350px style="border: 3px solid #3D3D3D"></canvas>

					<script type="text/javascript">
						var canvas = document.getElementById('canvas');
						var context = canvas.getContext('2d');

						createImage();
						
						function createImage(){
							var imageObj = new Image();
							imageObj.src = "{{location}}";
						
							imageObj.onload = function() {
								context.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height, 0, 0, canvas.width, canvas.height);
							};
						}

						canvas.addEventListener("mousedown", getPosition, false);

						function getPosition(event)
						{
							var canvas = document.getElementById("canvas");
							var rect = canvas.getBoundingClientRect();
							var context = canvas.getContext('2d');
							context.clearRect(0, 0, canvas.width, canvas.height);
							var imageObj = new Image();
							imageObj.src = "{{location}}";
							context.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height, 0, 0, canvas.width, canvas.height);
						  	var x = Math.floor(event.clientX - rect.left);
						  	var y = Math.floor(event.clientY - rect.top);
						  	context.fillStyle = "#FFFFFF";
						  	var pin = new Image();
							pin.src = "{{pin}}";
							context.drawImage(pin, x - 9, y - 24, 14, 24);
    						document.getElementById('xCoordinate').value = x;
    						document.getElementById('yCoordinate').value = y;
    						document.getElementById('check').value = "True";
						}
					</script>
				{% else %}
					{% if question[1] != "" %}
						{% set location = "../static/pictures/" + creator + "/" + question[1] + "" %}
						<img src="{{location}}" style="width:100%; height:100%; border: 3px solid #3D3D3D">
					{% endif %}
				{% endif %}
				
				<h1 align=left style="align:left">Question:</h1></br>
				<p align=left style="font-family: arial; font-weight: bold; color: #323232; margin-left:20px">{{question[0]}}</p>
				<form action="/questionResponse" method="POST">
					<input type='hidden' name='instanceID' value='{{instanceID}}'>
					<input type='hidden' name='questionType' value='{{questionType}}'>
					{% if questionType == "Multiple Choice" %}
						<h1 align=left style="align:left">Choices:</h1></br>
						{% set counter = 1 %}
						{% for choice in choices %}
							<p align=left style="font-family: arial; font-weight: bold; color: #323232; margin:.1em; margin-left:20px">{{counter}}. <input type='radio' name='option' style='height:15px; width:15px' value="{{choice[1]}}" required>{{choice[0]}}</p>
							{% set counter = counter + 1 %}
						{% endfor %}
					{% endif %}
					
					{% if questionType == "Short Answer" %}
						<h1 align=left style="align:left">Response:</h1>
						<p><textarea style="resize:none; width:100%; font: 100% arial; border: 1px solid #000000; background: #D1D0CE; color: #47433F;" rows=10 name="response" required></textarea></p>
					{% endif %}
					
					{% if questionType == "Map" %}
						<input id="xCoordinate" type='hidden' name='xCoordinate' value=''>
						<input id="yCoordinate" type='hidden' name='yCoordinate' value=''>
					{% endif %}

					<input class="button" type="submit" name="submit" value="Submit"/>
					<div id="check2" style="visibility: hidden">
						{% if questionType == "Map" %}
							<input id='check' type='text' name='check' value='' style='visibility: hidden' required>
						{% endif %}
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}