{% extends "layoutStudent.html" %}

{% block content %}
<body onload="createImage({{responseMap}})">
<div id="wrapper">
	<div id="featured-wrapper">
		<div class="extra2 container">
			<div class="ebox1">
			<div class="title">
				<h2>{{questionType}}</h2>
				<span class="byline"><font color="red">{{error}}</font></span>
			</div>
				{% if question[1] != "" %}
					{% set location = "../static/pictures/" + creator + "/" + question[1] + "" %}
					<canvas id="canvas" width=600px height=350px style="border: 3px solid #3D3D3D;"></canvas>

					<script type="text/javascript">
						function createImage(coordinates){
							var canvas = document.getElementById("canvas");
							var context = canvas.getContext('2d');
							var imageObj = new Image();
							var map = coordinates;
							var questionType = "{{questionType}}";
							imageObj.src = "{{location}}";
						
							imageObj.onload = function() {
								context.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height, 0, 0, canvas.width, canvas.height);
								if(questionType == "Map"){
									var pin = new Image();
									pin.src = "../static/pin.png";
									pin.onload = function(){
										context.drawImage(pin, map[0] - 9, map[1] - 24, 14, 24);
									};
								}
							};
						}
						
					</script>
				{% endif %}
				
				<h1 align=left style="align:left">Question:</h1></br>
				<p align=left style="font-family: arial; font-weight: bold; color: #323232; margin-left:20px">{{question[0]}}</p>
				
				{% if choices %}
					<h1 align=left style="align:left">Choices:</h1></br>
					{% set counter = 1 %}
					{% for choice in choices %}
						<p align=left style="font-family: arial; font-weight: bold; color: #323232; margin:.1em; margin-left:20px">{{counter}}. {{choice[0]}}</p>
						{% set counter = counter + 1 %}
					{% endfor %}
				{% endif %}
				
				{% if response != "" %}
					{% if questionType == "Map" %}
						<body onload="putPin({{response}})">
					{% else %}
						<h1 align=left style="align:left">Your Response:</h1></br>
						<p align=left style="font-family: arial; font-weight: bold; color: #323232; margin-left:20px">{{response}}</p>
					{% endif %}
				{% endif %}
				
				{% if question[2] != "" %}
					<h1 align=left style="align:left">Answer:</h1></br>
					{% if answerMC != "" %}
						<p align=left style="font-family: arial; font-weight: bold; color: #323232; margin-left:20px">{{answerMC}}</p>
					{% else %}
						<p align=left style="font-family: arial; font-weight: bold; color: #323232; margin-left:20px">{{question[2]}}</p>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}